*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}

.logo{
    color: white;
}

.logo:hover{
    transform: scale(1.12);
    cursor: pointer;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Header */
header {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Footer */
footer {
    background-color: #222f3d;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
